<ion-header>
  <spub-navbar pageTitle="Bluetooth Connect">
  </spub-navbar>
</ion-header>



<ion-content padding>
  <div>
    <ion-list padding>
      <button ion-button block color="prettyblue" (click)="startScanning()">Scan for bars</button>
      <ion-list-header>
        Paired Devices
      </ion-list-header>
      <ion-item *ngIf="!pairedDevices">
        None
      </ion-item>
      <ion-item *ngFor="let device of pairedDevices">
        <span (click)="connectDevice(device.address)">
          {{device.name}}
        </span>
      </ion-item>
      <ion-spinner name="ios" *ngIf="gettingPairedDevices"></ion-spinner>
      <!-- <button ion-button block (click)="disconnectDevice()">Disconnect</button> -->
      <ion-list-header>
        Available Devices
      </ion-list-header>
      <ion-item *ngIf="!unpairedDevices">
        None
      </ion-item>
      <ion-item *ngFor='let device of unpairedDevices'>
        <span (click)="connectDevice(device.address)">
          {{device.name}}
        </span>
      </ion-item>
      <ion-spinner name="ios" *ngIf="gettingUnpairedDevices"></ion-spinner>
    </ion-list>
    <button ion-button block color="dark" (click)="directConnect()">Direct connect</button>
  </div>
</ion-content>
