spub-navbar {
      text-align: center;      
}


.toolbar {
      min-height: 64px;
}

.toolbar-title {
      font-size: 2.1rem;
      font-weight: 450;
}

.bar-button {
      margin-right: 1.0rem;
}
